/* footer {
  position: absolute;
  bottom: 0;
} */
.navbar {
  display: flex;
  justify-content: space-between;
  color: aqua;
}

.navbar ul {
  list-style-type: none;
}

li {
  display: inline-block;
}